<html>
    {{>navbarc}}
    <div id = "content" class = "container-fluid mb-5">
        <div id = "filter-pages" class = "container-fluid mt-3">
            <div class = "row">
                <div id = "category-page" class = "col-md-auto">
                    <b>Filter by category</b>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="misc-cat" {{michecked}}>
                        <label class="form-check-label">Misc</label>
                    </div>
                    {{#each cat}}
                    <div class="form-check">
                        <input class="form-check-input catbox" type="checkbox" value="" id="{{id}}" {{mchecked}} >
                        <label class="form-check-label">{{name}}</label>
                    </div>
                    {{/each}}
                </div>
                <div id = "money-page" class = "col-2">
                    <b> Limit the price range </b>
                    <div id = "money-min" class = "form-group">
                        <input type = "checkbox" id = "min-check" {{minchecked}}>
                        <label for = "min-value">Minimum price:</label>
                        <input type = "textbox" class = "form-control" id = "min-value" value = "{{minval}}">
                    </div>
                    <div id = "money-max" class = "form-group">
                        <input type = "checkbox" id = "max-check" {{maxchecked}}>
                        <label for = "max-value">Maximum price:</label>
                        <input type = "textbox" class = "form-control" id = "max-value" value = "{{maxval}}">
                    </div>
                </div>
                <div id = "search-page" class = "col-3">
                    <b> Search for product by name </b>
                    <input type = "textbox"  class = "form-control" id = "namesearch" placeholder = "Product name" value = "{{nameval}}">
                </div>
            </div>
            <div class = "form-group">
                <button id = "filter-button" class = "btn btn-secondary" onclick = "filterproducts()">Apply filters</button>
            </div>
        </div>

        <table id = "products" class = "table table-sm table-striped table-bordered" >
            <thead class = "thead-dark" >
                <th scope = "col" onclick = "sortTable('products', 1, 0)" >Product name</th>
                <th scope = "col" onclick = "sortTable('products', 3, 1)" >Cost</th>
                <th scope = "col" onclick = "sortTable('products', 2, 2)" >Quantity</th>
                <th scope = "col" >Order amount</th>
            </thead>
            <tbody>
                {{#each products}}
                <tr><td>{{name}}</td><td>${{selling_price}}</td><td class = "product-qty" >{{#if quantity}} {{quantity}} {{else}} 0 {{/if}} </td><td><input type = "textbox" class = "productnum" data-priceval = {{selling_price}} id = "product{{id}}"value = "0"></td></tr>
                {{/each}}
            </tbody>
        </table>
        <div id = "button-opts" class = "container-fluid">
            <div id = "payment-wrapper" class = "col-md-2 form-group">
                <label for = "payment-method">Payment method:</label>
                <select id = "payment-method" class = "form-control">
                    <option name = "card">Card</option>
                    <option name = "cash">Cash</option>
                    <option name = "check">Check</option>
                </select>
            </div>
            <div class = "form-group mt-3">                 
                <button id = "order" class = "btn btn-primary" onclick = "orderproducts()">Order selected products</button>
            </div>
            <h4>OPTIONAL: enter your info:</h4>
            <div id = "customer-info" class = "row">
                    <div class = "col-3">
                        <label for = "fname">First name:</label>
                        <input type = "textbox" class = "form-control" id = "fname">                   
                    </div>
                    <div class = "col-3">
                        <label for = "lname">Last name:</label>
                        <input type = "textbox"  class = "form-control" id = "lname">
                    </div>
                    <div class = "col-3">
                        <label for = "pnumber">Phone number:</label>
                        <input type = "textbox" class = "form-control" id = "pnumber">
                    </div>
            </div>
        </div>
    </div>
</html>
