<html>
        <div id = "content" class = "container">
        <h1 class = "row"> Welcome to S-Mart, valued customer!</h1>
		<!-- Your page content goes here. -->
        <div id = "filter-pages" class = "container-fluid">
<div class = "row">
<div id = "category-page" class = "container-fluid">
<h6>Filter by category</h6>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="misc-cat" {{michecked}}>
  <label class="form-check-label">
    Misc
  </label>
</div>
{{#each cat}}
<div class="form-check">
  <input class="form-check-input catbox" type="checkbox" value="" id="{{id}}" {{mchecked}} >
  <label class="form-check-label">
    {{name}}
  </label>
</div>
{{/each}}
</div>
        </div>
        <div id = "search-page" class = "container-fluid">
            <h6> Search for product by name </h6>
            <input type = "textbox"  id = "namesearch" placeholder = "Product name" value = "{{nameval}}">
        </div>

        <div id = "money-page" class = "container-fluid">
            <h6> Limit the price range </h6>
            <div id = "money-min" class = "form-check">
                <input type = "checkbox" id = "min-check" {{minchecked}}>Minimum price:
                <input type = "textbox" id = "min-value" value = "{{minval}}">
            </div>
            <div id = "money-max" class = "form-check">
                <input type = "checkbox" id = "max-check" {{maxchecked}}>Maximum price:
                <input type = "textbox" id = "max-value" value = "{{maxval}}">
            </div>
        </div>
        <div class = "container-fluid">
        <button id = "filter-button" class = "btn-primary form-row" onclick = "filterproducts()">Apply filters</button>
        </div>
        </div>
        </div>

        <table id = "products" class = "table table-sm table-striped table-bordered" >
            <thead class = "thead-dark" >
                <th scope = "col" onclick = "sortTable(0)" >Product name</th>
                <th scope = "col" onclick = "sortTable(1)" >Cost</th>
                <th scope = "col" onclick = "sortTable(2)" >Quantity</th>
                <th scope = "col" >Order amount</th>
            </thead>
            <tbody>
                {{#each products}}
                <tr><td>{{name}}</td><td>${{selling_price}}</td><td>{{quantity}}</td><td><input type = "textbox" class = "productnum" data-priceval = {{selling_price}} id = "product{{id}}"value = "0"></td></tr>
                {{/each}}
            </tbody>
        </table>
        <div id = "button-opts">
            <div id = "payment-wrapper">
            Payment method:
            <select id = "payment-method">
                <option name = "card">Card</option>
                <option name = "cash">Cash</option>
                <option name = "check">Check</option>
            </select>
            </div>
            <div id = "customer-info" class = "row no-gutters">
            <div class = "column">
            <h4>OPTIONAL: enter your info:</h4>
            </div>
            <div id = "custuff">
            <div class = "column">
            First name:
            <input type = "textbox" id = "fname">                   
            </div>
            <div class = "column">
            Last name:
            <input type = "textbox"  id = "lname">
            </div>
            <div class = "column">
            Phone number:
            <input type = "textbox" id = "pnumber">
            </div>
            </div>
            </div>                 
            <button id = "order" onclick = "orderproducts()">Order selected products</button>
        </div>
        </div>
</html>
