<html>
        <h1> Welcome to S-Mart, valued customer!</h1>
		<!-- Your page content goes here. -->
        <div id = "content">
        <div id = "filter-pages">
        <div id = "category-page">
            Filter by category
            {{#each cat}}
            <input type = "checkbox" id = "{{id}}"  class = "catbox" checked>{{name}}
            {{/each}}
        </div>
        <div id = "search-page">
            Search for product by name
            <input type = "textbox" id = "namesearch" value = "{{nameval}}">
        </div>

        <div id = "money-page">
            Limit the price range
            <div id = "money-min">
                <input type = "checkbox" id = "min-check" {{minchecked}}>Minimum price:
                <input type = "textbox" id = "min-value" value = "{{minval}}">
            </div>
            <div id = "money-max">
                <input type = "checkbox" id = "max-check" {{maxchecked}}>Maximum price:
                <input type = "textbox" id = "max-value" value = "{{maxval}}">
            </div>
        </div>
        <button id = "filter-button" onclick = "filterproducts()">Apply filters</button>
        </div>

        <table id = "products">
            <thead>
                <th>Product name</th>
                <th>Cost</th>
                <th>Order amount</th>
            </thead>
            <tbody>
                {{#each products}}
                <tr><td>{{name}}</td><td>${{selling_price}}</td><td><input type = "textbox" class = "productnum" data-priceval = {{selling_price}} id = "product{{id}}"value = "0"></td></tr>
                {{/each}}
            </tbody>
        </table>
        <div id = "button-opts">
            <div id = "payment-wrapper">
            Payment method:
            <select id = "payment-method">
                <option name = "card">Card</option>
                <option name = "cash">Cash</option>
                <option name = "check">Check</option>
            </select>
            </div>
            <div id = "customer-info">
            OPTIONAL: enter your info:
            <div id = "custuff">
            First name:
            <input type = "textbox" id = "fname">                   
            Last name:
            <input type = "textbox" id = "lname">
            Phone number:
            <input type = "textbox" id = "pnumber">
            </div>
            </div>                 
            <button id = "order" onclick = "orderproducts()">Order selected products</button>
        </div>
        </div>
</html>
