{{>navbar}}

    <div class = "container-fluid mb-5">
    
        <table id = "shipments" class = "table table-sm table-striped table-bordered" >
            <thead class = "thead-dark" >
                <th scope = "col" onclick = "sortTable('shipments', 5, 0)" >Shipment ID</th>
                <th scope = "col" onclick = "sortTable('shipments', 1, 1)" >Supplier name</th>
                <th scope = "col" onclick = "sortTable('shipments', 1, 2)" >Shipper name</th>
                <th scope = "col" onclick = "sortTable('shipments', 1, 3)" >Product status</th>
                <th scope = "col" onclick = "sortTable('shipments', 4, 4)" >Date received</th>
            </thead>
            <tbody>
                {{#each shipments}}
                <tr>
                    <td><a href = "/employee/inspectshipment/{{id}}" class = "text-primary">{{id}}</a></td>
                    <td>{{supplier_name}}</td>
                    <td>{{shipping_service_name}}</td>
                    <td>{{#if damaged}}Damaged{{else}}Intact{{/if}}</td>
                    <td>{{date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <a href = "/employee/addNewShipment" class = "btn btn-primary rounded-circle">+</a>
    </div>
