{{>navbar}}

    <div class = "container-fluid mb-5">
        <table id = "transactions" class = "table table-sm table-striped table-bordered" >
            <thead class = "thead-dark" >
                <th scope = "col" onclick = "sortTable(0)" >Transaction ID</th>
                <th scope = "col" onclick = "sortTable(1)" >Customer first name</th>
                <th scope = "col" onclick = "sortTable(2)" >Customer last name</th>
                <th scope = "col" onclick = "sortTable(3)" >Payment method</th>
                <th scope = "col" onclick = "sortTable(4)" >Payment total</th>
                <th scope = "col" onclick = "sortTable(5)" >Date</th>
            </thead>
            <tbody>
                {{#each transactions}}
                <tr>
                    <td><a href = "/employee/inspecttransaction/{{id}}" class = "text-primary">{{id}}</a></td>
                    <td>{{#if fname}}{{fname}}{{else}}---{{/if}}</td>
                    <td>{{#if lname}}{{lname}}{{else}}---{{/if}}</td>
                    <td>{{payment_method}}</td>
                    <td>${{payment_total}}</td>
                    <td>{{date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
