{{>navbar}}

    <div class = "container-fluid mb-5">
        <table id = "shipments" class = "table table-sm table-striped table-bordered" >
            <thead class = "thead-dark" >
                <th scope = "col" onclick = "sortTable(0)" >Shipment ID</th>
                <th scope = "col" onclick = "sortTable(1)" >Supplier name</th>
                <th scope = "col" onclick = "sortTable(2)" >Shipper name</th>
                <th scope = "col" onclick = "sortTable(3)" >Product status</th>
                <th scope = "col" onclick = "sortTable(4)" >Date received</th>
            </thead>
            <tbody>
                {{#each shipments}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{supplier_name}}</td>
                    <td>{{shipping_service_name}}</td>
                    <td>{{#if damaged}}Damaged{{else}}Intact{{/if}}</td>
                    <td>{{date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <h2> Products received </h2>
        <table id = "transitems" class = "table table-sm table-striped table-bordered" >
            <thead class = "thead-dark" >
                <th scope = "col" onclick = "sortTable(0)" >Item ID</th>
                <th scope = "col" onclick = "sortTable(1)" >Name</th>
                <th scope = "col" onclick = "sortTable(2)" >Serial number</th>
                <th scope = "col" onclick = "sortTable(3)" >Wholesale cost</th>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{serial}}</td>
                    <td>${{buying_price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
